.visible {
  display: block;
}
.invisible {
  display: none;
}

.itemList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.itemInfoInList {
  display: flex;
}

.cart {
  min-width: 300px;
  position: relative;
  .cartList {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .cartItemCard {
      display: flex;
      justify-content: space-between;
    }
    .cartItemTitle {
      margin-right: 10px;
    }

    .cartItemImage {
      width: 100px;
    }
  }
  .infoModal {
    display: block;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
  }
  .buy {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
