.visible {
  display: block;
}
.invisible {
  display: none;
}

.stageVisible {
  display: block;
}
.stageInvisible {
  display: none;
}

.itemList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.itemInfoInList {
  display: flex;
}

.cart {
  min-width: 300px;
  position: relative;
  .cartList {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .cartItemCard {
      display: flex;
      justify-content: space-between;
    }
    .cartItemTitle {
      margin-right: 10px;
    }

    .cartItemImage {
      width: 100px;
    }
  }
}

.infoModal,
.receiptModal {
  position: absolute;
  min-width: 300px;
  max-width: 500px;
  height: 550px;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);

  .modalTitleBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .modalTitle {
      white-space: nowrap;
    }
  }
}

.buy {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .buyInfo {
    display: flex;
    justify-content: space-between;
    .totalPrice {
      display: inline-block;
    }

    .clearCart {
      font-size: 13px;
      padding: 2px 4px;
    }
  }
}
